@tailwind base;
@tailwind components;
@tailwind utilities;


.home {
    @apply h-auto w-screen lg:flex bg-green-50
}

.homeContainer {
    @apply mr-8 
    md:grid md:grid-cols-2
    lg:grid lg:grid-cols-4 lg:grid-flow-row lg:auto-rows-max 
    xl:grid xl:grid-cols-4 xl:grid-flow-row xl:auto-rows-max 
}

.totalCard {
    @apply   text-center place-content-center h-auto w-auto grid grid-cols-2
    sm:justify-items-center
    md:justify-items-center	
    lg:grid lg:grid-cols-2 lg:gap-2 lg:grid-flow-row lg:auto-rows-max lg:col-span-2 lg:mr-6
}

.totalCardStyle {
    @apply bg-stone-100 h-auto w-32  drop-shadow-lg border-2 rounded-xl font-bold border-gray-50 p-2 m-9 
    sm:h-24 sm:w-36 
    md:h-28 md:w-40
    lg:h-28 lg:w-44
    xl:h-44 xl:w-64
    text-emerald-500/50
}

.totalTitle {
    @apply text-sm text-emerald-600/50
    lg:text-xl font-extrabold bg-clip-text  p-2
    xl:text-2xl
}


.slide-container {
    @apply text-left mt-8
}

.slide {
    @apply text-center
}

.slide-content {
    @apply text-left border-2 rounded-xl bg-white contents	
}

.product-img {
    @apply text-clip shadow-md rounded-xl max-w-full h-auto align-middle border-none
}

.slide-text {
    @apply text-right flex space-x-4
}