@tailwind base;
@tailwind components;
@tailwind utilities;

.productCard{
    @apply bg-gray-50  border-2 border-green-200/50  p-4 relative rounded-2xl	duration-500 h-auto w-48 font-extralight text-sm  inline-block
shadow-xl
}


.productCard:hover{
    @apply border-blue-200	shadow-emerald-200/50	
}

.cardIMG{
    @apply inline-block	
}

.ProductDetail{
    @apply bg-gray-50 border-4 border-green-200/25  relative rounded-2xl	duration-500 sm:p-20  sm:h-auto sm:w-auto font-extralight text-lg inline-block
shadow-2xl
}
.cardHeader2{
    @apply flex justify-between
}

.productDetailbottom{
    @apply flex justify-between
}

.detailIMG{
    @apply inline-block 
}
.btnSepet{
    @apply text-white bg-gradient-to-r from-green-300 to-cyan-200 hover:bg-gradient-to-l focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-green-100 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2

}
.admin-productContainer{
    @apply h-full w-screen lg:flex bg-green-50
}
.admin-product{
    @apply h-screen w-screen  bg-green-50 text-xs  grid grid-cols-1 grid-flow-row 
}

.productAddContainer{
    @apply w-screen text-left  block
    lg:flex
}
.product-list{
    @apply  contents mt-10 mb-20 shadow-inner space-y-5
     md:w-screen md:ml-20
     xl:w-screen xl:mt-14
}

.settingsList{
    @apply   justify-evenly	items-center grid grid-cols-6 h-20 border-2 border-emerald-200/50 w-screen
    shadow-xl shadow-emerald-200/50 rounded-xl relative duration-500
}
.settingsList:hover{
    @apply border-emerald-200	shadow-emerald-200
}



.navbarproduct{
    @apply text-center mt-10
}
.navbarproduct1{
    @apply text-center mt-10
}

.btn1{
@apply bg-emerald-50 hover:bg-emerald-100 text-gray-800 font-semibold h-7 w-16 border border-gray-400 rounded shadow
}